<header class="header">
  <%= link_to image_tag("climbing-app-logo.png",class:"climbing-logo"),"/" %>
  <ul class= "header-ul">
    <li><%= link_to 'ジム情報', class: "gymInformation"%></li>
    <li><%= link_to '岩場情報', class: "rockInformation" %></li>
    <li><%= link_to 'ログイン', class: "login" %></li>
    <li><%= link_to '新規登録', class: "sign-up" %></li>
  </ul>
</header>